///*------------------------------------*\
//    #inuitsdefault settings override
//\*------------------------------------*/

// These variables are inuitcss’ defaults; they should not be modified or

// High-level base settings.
// $inuit-base-font-size:          16px;
// $inuit-base-line-height:        24px;
$inuit-base-text-color:         #424242;
$inuit-base-background-color:   #f5f6f6;

// Namespace.
//
// Would you like inuitcss’ classes to be prepended with a namespace? If so,
// define it here.
// $inuit-namespace:               null;



$footer_height: 180;